* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

li {
    list-style-type: none;
}
  
ul {
    margin-left: 0;
    padding-left: 0;
}

h1 {
    color: #000000;
    padding-top: 20px;
    margin-bottom: 20px;
  }

p {
    padding: 6px 0;
}

button {
    padding: 12px;
    font-size: large;
    cursor: pointer;
}

#search {
    padding: 8px;
}

.post {
    border: 1px solid black;
    padding: 12px;
    margin: 8px 0;
}

.loading, .not_found {
    text-align: start;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search_wrapper {
    display: flex;
}
